/* general */

html { 
  height: 100%; width: 100%;
  margin: 0; padding: 0;
}

body {
  height: 100%; width: 100%;
  margin: 0; padding: 0;
  background: #EEE;
  font: 18px Georgia,Times,"Times New Roman",serif;
}

#main-content {
  width: 600px;
  margin: 20px auto;
  padding: 10px 0 20px;
  border: 2px solid black;
  text-align: center;
}

h1 {
  font: 24px Arial,"Helvetica Neue",Helvetica,sans-serif;
}

/* form */

form select, form select option {
  font: 14px Arial,"Helvetica Neue",Helvetica,sans-serif;
  padding: 3px 6px;
}

form select {
  width: 300px;
}

form input[type="text"] {
  font: 14px Arial,"Helvetica Neue",Helvetica,sans-serif;
  padding: 3px 6px;
}

.controls {
  margin-top: 0;
}

.controls input {
  font: 14px Arial,"Helvetica Neue",Helvetica,sans-serif;
  width: 100px;
  height: 30px;
  color: black;
  background: white;
  border: 1px solid black;
}

.controls input:hover {
  color: white;
  background: black;
}

dl {
  margin: 0 20px 20px;
  text-align: left;
}

dl dt {
  display: inline-block;
  width: 150px;
}

dl dd {
  display: inline-block;
  width: 250px;
  text-align: left;
}
